* {
    padding: 0;
    margin: 0;

}

body {

    font-family: sans-serif;
}

.main-content
    {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: 0 10px 20px rgba(0,0,0,)
    }

.text-editor-header 
    {
        background-color: transparent;
        padding: 5px;
        width: 1000px;
    }
.text-editor-header.btn
    {
        border: black;
        outline: none;
        background-color: transparent;
        margin-right: 5px;
    }
.content
    {
        height: 500px;
        width: 600px;
        border-top: 0px;
        padding: 20px;
        border-color: blueviolet;
    }

 .btn 
 {
    height: auto;
    min-width: 20px;
    border-color: blueviolet;
    white-space: 100px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    
 }
 h1
 {
    text-align: center;
    padding-left: 140px;
    padding-top: 40px;
    font-weight: 100px;
    color: blueviolet;  
 }
 .placeholder
 {
    text-align: center;
 }
